
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@400;500&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Staatliches&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');



:root {
  --Silver: #AFA9A4;
  --Blacktxt: #2E2624;
  --Gold: #CCAC78;
  --placeholder-color: #CCAC78;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {

    background-color: #fff;
    color: #000;
    font-family: 'montserrat';
    line-height: 1.8;
    /* overflow: hidden; */
}

#container {
max-width: 1000px;
margin: 0 auto;
padding: 30px 20px;
}

.header-img {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    gap: 20px;
    
}

.full-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Nav Bar */

nav {
  background-color: black;
  color: white;
  padding: 15px;
}

nav .logo {
  display: inline-block;
  width: 150px;
  height: 50px;
  background-image: url(/img/Plaque_Shop_logo-inverted.png); 
  background-size: contain;
  background-repeat: no-repeat;
}


nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: right;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 15px;
}

nav ul li a:hover {
  background-color: #555;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}


/* Plate Design */

.full-page-grey {

  height: 100vh;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 25px;
  margin: 75px 0;
  /* border: #0D0C08 10px solid; */
}

.bkg-img {
  position: relative;
  width: 100%;
  height: 80vh;
  overflow: hidden;
}

.bkg-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}

.btn-main {
  width: 50vw;
  display: block;
  margin: auto;
  top: 0;
  z-index: 1;

}

.header-img img {
    width: 70vw;
    
}


.header-img h1 {
    font-size: 45px;
    
}

.header-img a {
  width: 60vw;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

.header-img a:hover {
  background-color: #404040;
  
}

.form-wrap h1 ,
.form-wrap h2 {
    
    text-align: center;
}

.plate-design {
  color: #0D0C08;
  padding: 25px 0;
  font-family: 'Staatliches';
  font-size: calc(16pt*1.618);
  margin: 0 auto;
  text-align: center;
}

/* @keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */

/* .bounce.animated {
  animation: bounce 5s;
}

.fade-in.animated {
  animation: fade-in 4s;
} */




.form-wrap textarea {
    display:block;
    margin: 40px auto 40px auto;
    width: 288px;
    height: 144px;
    font-size: 12pt;
    text-align: center;
    resize: none;
    line-height: 1.4;
    padding: 8px 8px;
    color: #CCAC78;
    background-color: #0D0C08;
    border: none;
    box-shadow: none;
    border-radius: 4px;
    overflow: hidden;
    transition: all 1s ease-in-out;
    
}

::placeholder {
  color: var(--placeholder-color);
}

/* ::placeholder {
    color: var(--Gold, --Silver);
    font-family: 'roboto', Times, serif;
    font-size: 2rem;
    font-weight: bold;
    opacity: 65%;
    padding-top: 15px;
    transition: all 0.5s ease-in-out;
} */

textarea:focus, input:focus {
    outline: 0;

}

/* .size-input {
  width: 194px;
  height: 388px;
} */

.plate-size-input-container {
  display: flex;
  justify-content: space-between;
  /* background-color: #AC8A59; */
  padding: 15px 10px 75px 10px;
  
}

.plate-size-input {
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.size-input-h3 {
  margin: 10px auto;
  text-align: center;
}

.plate-size-input-container input {
  width: 75px;
  height: 35px;
  border: none;
  background-color: #f4f4f4;
  color: #333;
  text-align: center;
  border-radius: 25px;
}

.modern-input {
  appearance: none; /* Disable default styling */
  -webkit-appearance: none; /* For Safari */
  width: 75px; /* Adjust width as needed */
  height: 25px; /* Adjust height as needed */
  background-color: #f1f1f1; /* Set background color */
  border: none; /* Remove borders */
  border-radius: 50%; /* Make it round */
  font-size: 16px; /* Adjust font size as needed */
  color: #333; /* Set text color */
  text-align: center; /* Center text horizontally */
}

.modern-input::-webkit-inner-spin-button,
.modern-input::-webkit-outer-spin-button {
  appearance: none; /* Disable spin buttons for WebKit browsers */
}

.modern-input:focus {
  outline: none; /* Remove outline on focus */
  box-shadow: 0 0 3px #555; /* Add a shadow on focus */
}












/* #charNum {
  color: #fff;
  font-family: 'roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  background-color: #333;
  width: 100%;
  text-align: center;
  margin-top: 0;
  padding: 10px;
}

.charNum {
  color: #fff;
  font-family: 'roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  background-color: #333;
  width: 100%;
  text-align: center;
  margin-bottom: 25px;
  padding: 10px;
} */

.flex-div-row-center {
  display: flex;
  justify-content: center;
}

.costCount {
  display: flex;
  flex-direction: column;
  color: #0D0C08;
  width: 20%;

}



.form-group p {
    margin: 0px 0 15px 0;
    text-align: center;
    
}

textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

textarea:hover::-webkit-input-placeholder {
  color: transparent;
}

.form-group-inputs {
  max-width: 350px;
  padding: 40px;
  margin: 0px auto;
  }


.form-group-inputs label {
  display: block;
  margin: 5px auto;
  text-align: left;
  padding-right: 10px;
  padding-top: 20px;
  color: #EEC643;
  
}

.form-group-inputs input {
  display: block;
  margin: auto;
  width: 100%;
  height: 30px;
}



.select-menu {
    background-color: #0D0D0D;
    color: #F2F2F2;
    width: 400px;
    height: 60px;
    border-radius: 5px;
    border: 1.25pt solid #BDBEBF;
    display: block;
    margin: 0px 25px 40px 25px;
    padding: 15px 10px;
    cursor: pointer;
    font-family: 'montserrat';
    font-weight: bold;
    -webkit-appearance: none;
    font-size: 14pt;
    text-align-last: center;
    text-align: center;
}

#notification {
  /* notification styles */
  font-family: 'roboto';
  font-weight: 400;
  position: fixed;
  bottom: 400px;
  left: 20%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 400px;
  padding: 10px;
  background-color: #333;
  color: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.4s;
}

.checkbox-wrapper {
  position: block;
  bottom: 40px;
  left: 20px;
  display: flex;
  align-items: center;
  color: #000;
  cursor: pointer;
  font-size: 16px;
}

.checkbox-wrapper input[type="checkbox"] {
  display: none;
}

.checkbox-wrapper .checkbox-custom {
  width: 18px;
  height: 18px;
  border: 1px solid #333;
  border-radius: 3px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox-wrapper .checkbox-custom::before {
  content: "✔";
  color: transparent;
  font-size: 12px;
}

.checkbox-wrapper input[type="checkbox"]:checked + .checkbox-custom::before {
  color: #333;
}

select:focus {
    outline: none;
}

#fontpulldown {
    display: block;
    text-align: center;
    font-size: 16pt;
    font-weight: 550;
    color: #f4f4f4;
    padding-bottom: 20px;
}

/* .font-select-bdg {
    background: #333;
    padding: 40px 0;
    margin: 25px 0 100px;
} */



.flex {
  display:flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}


/* .flex-btn-column {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
} */

.flex-btn-row {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
}

#plate-color-label {
  width: 100%;
  color: #0D0C08;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  font-family: 'roboto', serif;
  padding: 5px 0;
  margin: 30px 0 20px 0;
}

.btn {
    background-color: #000;
    color: #F6F6f8;
    /* width: 50vw; */
    height:auto;
    border-radius: 5px;
    border: .5pt solid #EEC643;
    display: flex;
    align-items: center;
    justify-content:center;
    /* margin: 5px 10px 50px 10px; */
    padding: 15px 10px;
    cursor: pointer;
    font-family: 'montserrat';
    font-weight: bold;
    font-size: 14pt;
    text-align-last: center;
    text-align: center;
    text-decoration: none;
    line-height: 1.2rem;
}

.btn-circle {
  
  /* width: 50vw; */
  height:auto;
  border-radius: 100px;
  border: .5pt solid #EEC643;
  display: flex;
  align-items: center;
  justify-content:center;
  /* margin: 5px 10px 50px 10px; */
  padding: 15px 10px;
  cursor: pointer;
  font-family: 'montserrat';
  font-weight: bold;
  font-size: 14pt;
  text-align-last: center;
  text-align: center;
  text-decoration: none;
  line-height: 1.2rem;
}


/* .btn1:hover {
  border:1.5px solid #CCAC78;
}

.btn2:hover {
  border:1.5px solid #222015;
}

.btn3:hover {
  border:1.5px solid #222015;
} */

.plate-styles h2 {
  display: block;
    text-align: center;
    font-size: 16pt;
    font-weight: 550;
    color: #EEC643;
    margin-top:50px;
    
}

.btn1 {
  background:#AC8A59;
  color:#2E2624;
  font-family: 'Roboto Serif', serif;
  border:none;
  width: 100px;
  
}

.btn2 {
  background:#0D0C08;
  color:#AC8A59;
  border:none;
  font-family: 'Roboto Serif', serif;
  width: 100px;
}

.btn3 {
  background:#0D0C08;
  color:#AFA9A4;
  border:none;
  font-family: 'Roboto Serif', serif;
  width: 100px;
}

.addfile-btn {
    background-color: #333;
    color: #F6F6f8;
    width: auto;
    border-radius: 5px;
    /* border: .5pt solid #EEC643; */
    display: flex;
    align-items: center;
    justify-content:center;
    margin: 10px 25px;
    padding: 25px;
    cursor: pointer;
    font-family: 'montserrat';
    font-weight: bold;
    font-size: 14pt;
    text-align-last: center;
    text-align: center;
    line-height: 1.2rem;
}

input[type="file"]{
  display: none;
}

.addfile-label {
    margin: 35px;
    width: 270px;
    background-color: #333;
    color: #F6F6f8;
    height:auto;
    border-radius: 5px;
    border: .5pt solid #EEC643;
    padding: 15px 10px;
    cursor: pointer;
    font-family: 'montserrat';
    font-weight: bold;
    font-size: 14pt;
    text-align: center;
    display: block;
}

.add-file-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 20vh;
  justify-content: space-around;
  margin-top: 100px;
  margin-bottom: 20px;
}


.submit-btn {
    margin: 35px auto;
    width: 270px;
    background-color: #333;
    color: #F6F6f8;
    height:auto;
    border-radius: 5px;
    border: .5pt solid #EEC643;
    padding: 15px 10px;
    cursor: pointer;
    font-family: 'montserrat';
    font-weight: bold;
    font-size: 14pt;
    text-align: center;
    display: block;
}


@media screen and (max-width: 560px) {
  .form-wrap textarea
  {
    width: 256px;
    height: 130px;
    font-size: 9pt;
  }
  
  .form-wrap h1 {
    font-size: 30pt;
  }
  
  .form-wrap h2 {
    font-size: 12pt;
    padding-top: 5px;
  }
  
  .form-wrap textarea {
    margin-top: 25px;
  }
  
  .container {
    width: 300px;
  }
}




